fastapi==0.105.0
uvicorn==0.24.0
pydantic==2.5.2
requests==2.31.0
torch>=2.0.0
torchvision>=0.15.0
pillow>=10.0.0
numpy>=1.24.0
opencv-python>=4.8.0
python-multipart==0.0.6

timm
scipy
scikit-image
kornia
einops

tqdm
prettytable

transformers
huggingface-hub>0.25
accelerate
